body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logoImg{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
